:root {
  --text-color-primary: #000;
  --text-color-secondary: #fff;
  
  --background-color-primary: #000;
  --background-color-secondary: #fff;

  --letter-spacing: 0.01em;

  --font-size-regular: 1.8rem;
  --line-height-regular: 1.16em;

  --font-size-bold: 2.4rem;
  --line-height-bold: 2.8rem;
  
  --front-primary: 'Gilroy-Bold';
  --front-secondary: 'Gilroy-Medium';


  --heightSubMenu: 10px;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; 
  /* 
    1rem = 10px 
  */
  line-height: 2.1rem;
  font-weight: 400;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
}

i {
  display: inline-block;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df__center{
  justify-content: center;
}

.df__unset{
  justify-content: unset;
}

.df__flex{
  flex-direction: column
}

.text {
  color: var(--text-primary-white);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}

img {
  display: block;
}

input {
  border: none;
  outline: none;
}


/* slick */


.slick-initialized .slick-slide {
  margin: 0 15px;
}

.slider__item--image img {
  width: 100%;
}

.slick-slider button {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 0px 7.03125px 19.5312px rgb(0 0 0 / 6%);
}

.slick-arrow {
  position: absolute;
  font-size: 2.5rem;
  color: #000;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.slick-prev {
  top: calc(50%);
  left: 0;
}

.slick-next {
  right: 0px;
  top: calc(50%);
}
